/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --decorated-color: #FF0070;
  --title-text-color: #DB00FF;
  --title-text-shadows: #FF0070;
  --header-background: url(../images/cover-image-dark.png);
  --paragraph-background-color: #FF0070;
  --headline-color: #FF0070;
  --paragraph-name-text-color: #000028;
  --paragraph-text-color: #F1B2CE;
  --rec-showing: block;
  --link-text-shadows: #FF0070;
}