/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #FFF1F7;
  --decorated-color: #353430;
  --title-text-color: #FFC2E6;
  --title-text-shadows: #FF0070;
  --header-background: url(/images/cover-image-light.png);
  --paragraph-background-color: #FF8DCB;
  --headline-color: #353430;
  --paragraph-name-text-color: #353430;
  --paragraph-text-color: #353430;
  --rec-showing: none;
  --link-text-shadows: #FF8DCB;
}